*{
    margin: 0;
}
.banner{
    width: 100%;
}
body{
    background-color: #202020;
}
#games{

    margin-left: 5%;
    margin-top: 5%;
    column-count: 2;
}
#about{
    text-align: center;
    width: 70%;
    margin: auto;


}
h1{
    color: white;
    font-size: 60px;
    margin-top: 5%;
}
.mto{
    line-height: 30px;
    margin-top: 3%;
    color: white;
    font-size: 20px;
}
.undertheline{
    margin-top: 2%;
    color: white;
    display: flex;
    flex-direction: row;
    grid-gap: 28%;
}
#directions{
    width: 18%;
    margin-left: -2%;
}
#mem{
    font-size: 21px;
}
.button{
}
#dirText{
    font-size: 15px;
    line-height: 20px;
}
#info{
    line-height: 30px;
}
.boom{
    line-height: 25px;
}
.scrro{
    margin-top: 5%;
    color: white;
    font-size: xx-large;
}
.arrow{
    border-radius: 10px;
    padding: .5%;
    margin-top: 2%;
    width: 15%;
    background-color: darkorange;
}
hr{
    color: darkorange;
    margin-top: 5%;
    border-radius: 100%;
    height: 2px;
    background-color: darkorange;
}
.daycount{
    margin-top: 10%;
    font-size: 50px;
}
.an{
    color: white;
    font-size: 45px;
}
h3{
    color: white;
    font-size: 20px;
    margin-top: 3%;
}