/*Google Fonts*/

/*font-family: 'Fira Sans', sans-serif;*/

/*font-family: 'Cabin', sans-serif;*/

/*font-family: 'Source Code Pro', monospace;*/

/*font-family: 'Rubik', sans-serif;*/

*{
     margin:0;

 }
header{

}
#store{
    margin-left: 0;
    margin-left: 1%;
}
.button{
    margin-left: 2%;
    color: #202020;
    font-size: 20px;
}
.button:hover{
    color: white ;
    /*background-image: linear-gradient(darkorange, #ff5f00);*/
}
#first{
    background-image: url("pictures/dinoo.png");
    border-radius: 20px 0 0 20px;
}
#two{
    background-image: url("pictures/tetris.png");
}
#three{
    background-image: url("pictures/Snake.png");
    border-radius: 0 20px 20px 0;
}
.slidshow{
}
#game{
    position: relative;
}
#rules{
    margin-top: 10%;
    margin-right: 15%;
}
#rulesTitle{
    margin-right: -6%;
    font-size: larger;
    margin-bottom: 5%;
    background-color: #ff5f00;
    padding: 4%;
}
#rulesText{
    text-align: left;
    font-size: 90%;
    line-height: 150%;
}
#directions{
    margin-top: 10%;
    margin-right: 15%;
}
#dirTitel{
    margin-right: -6%;
    font-size: larger;
    margin-bottom: 5%;
    background-color: #ff5f00;
    padding: 4%;

}
#dirText{
    text-align: center;
    font-size: 90%;
    line-height: 150%;
}
#info{
    margin-top: 10%;
    margin-right: 10%;
}
#infoTitel{
    font-size: larger;
    margin-bottom: 5%;
    background-color: #ff5f00;
    padding: 4%;
}
#infotext{
    text-align: center;
    font-size: 100%;
    line-height: 150%;
}
#join{
    margin-top: 10%;
    margin-right: 10%;
}
#jointitele{
    font-size: larger;
    margin-bottom: 5%;
    background-color: #ff5f00;
    padding: 4%;
}
#but1{
    position: relative;
    right: 4%;
}
#but{
    position: relative;
    right: 2%;
}
html{
    background-color: darkgray;
    min-width: 1367px;
}
body{
    margin-top: 40%;
    max-width: 90%;
    margin: auto;
    margin-top: 0px;
    background-color: #202020;
    border-radius: 10px 10px 10px 10px;

}
img{
    width: 100%;
}
.img{
    margin-bottom: .5%;
    border-radius: 10px 10px 0 0 ;
    width: 100%;
}
.motto{
    position: relative;
    color: white;
    max-width: 49.6%;
    display: inline-block;
    margin-left: 30.6%;
    bottom: 12.5em;
    font-family: 'Cabin', sans-serif;
}
.title{
    background-color: #ff5f00;
    padding: 1%;
    font-family: 'Rubik', sans-serif;
    /*border-radius: 70px 70px;*/
}
.title1{
    background-color: #ff5f00;
    padding: 2%;
    font-family: 'Rubik', sans-serif;
    /*border-radius: 70px 70px;*/
}
.mainpage{
    width:26.76%;
    height: 500px;
}
.mainpage:hover{
    opacity: 50%;
}
.members{
    display: inline-block;
    position: relative;
    float: right;
    bottom: 30em;
    color: white;
    width: 17%;
    font-family: 'Cabin', sans-serif;
}
.quick{
    margin-top: 10%;
    margin-bottom: -12em;
    margin-left: -61.7%;

}
#colu{
    column-count: 3;
    margin-top: 1%;
}
h3{
    margin-top: 2%;
}
.space{
    /*margin-left: 50px;*/
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}
a:hover{
    text-decoration: underline;
    color: #ff5f00;
}
#cal{
    color: white;
    width: 28%;
    margin-bottom: .5%;
}
#mem{
    /*border-radius: 70px 70px;*/
    padding: 2%;
    background-color: #ff5f00;
    margin-bottom: 1.5%;
    margin-right: 10%;
}
form{
    margin-right: 10%;
}
footer{

    color: white;
    background-color:#ff5f00;
    padding: .5%;
}
#donate:hover{
    color: #202020;
}
.day{
    width: 30%;
    height: 350px;
}
.floadleft{
    margin-bottom: -3%;
}
.lable{
    float: left;
    margin-left: 21.5%;
}
.daycount{
    font-size: xx-large;
    margin-top: 4%;
    margin-bottom: 4%;
}
.apply{
    border: #ff5f00 solid 4px;
    background-color: #2b2b2b;
    padding: 5%;
    color: white;
    margin-top: 3%;
    font-size: 120%;
}
.footer-a:hover{
    color: white;
}
.footer-a{
    color: white;
}
#calender{
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 1%;
}

footer{
    border-radius: 0 0 10px 10px;
}
@media only screen and (max-width: 1635px) {
    .motto{
        bottom: 12em;
    }
}
@media only screen and (max-width: 1467px) {
    .motto{
        bottom: 4.3em

    }
}
@media only screen and (max-width: 1366px) {
    #first{
        background-image: url("pictures/dinoo2.png");
    }
    #two{
        background-image: url("pictures/tertis2.png");
    }
    #three{
        background-image: url("pictures/Snake2.png");
    }
    .motto{
        bottom: 12em;
    }

}
@media only screen and (max-width: 1466px) {
    .motto{
        bottom: 12em;
    }
}