body{
    background-color: #202020;
}
aside{
    background-color: darkgray;
    width: 20%;
    height: 300px;
    margin: auto;
    margin-top: 10%;
}
div{
    margin-top: -3%;
}
label{
    position: relative;
    right: 10%;
}
#sub{
    margin-top: 5%;
}
img{
    width: 22%;
    margin-top: 5%;
}