*{
    margin: 0;

}
.banner{
    width: 100%;
}
form{
    width: 40%;
    background-color: #202020;
    color: white;
    margin: auto;
    border-radius: 70px;
    margin-top: 2%;
    padding: 2%;
}
body{
    background-color: darkgray;
    min-width: 1363px;
}
h1{
    color: white;
    margin-bottom: 3%;
}
div{
    max-width: 20%;
    text-align: left;
}

input{
    margin-bottom: 3%;
}
#Message{
    width: 50%;
    height: 100px;
}