*{
    margin: 0;
}
.banner{
    width: 100%;
}
body{
    background-color: #505050;
}
.gmes{
    float: right;
    width: 70%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-evenly;*/
    column-count: 4;
    column-gap: 0;
}
.game{
    margin-top: 1%;
    width: 79%;
}
.info{
    font-size: 150%;
    margin-left: 5%;
    margin-top: 4%;
    float: left;
    text-align: center;
    color: white;
}
.counter{
    font-size: 35px;
}
.discord{
    float: left;
}
#discorTitle,.title{
    margin-top: 10%;
}
#anouns{
    text-align: left;
}
