*{
    margin: 0;
}
body{
    background-color: #303030;
    text-align: center;
}
header{
    background-color: #ff5f00;
}
h1{
    font-family: 'Space Mono', serif;
    font-size: 100px;
}
iframe{
    margin-top: 8%;
}